@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body{
    font: 14px Roboto;
    background-color: #eaeef1;
}

.text{
    font-weight: 500;
    color: #777A7E;
}

.wrapper{
    width: 1000px;
    margin: 0 auto;
}

input{
    background-color: #DFE3E5;
    border-radius: 3px;
}





.popular{
    background-color: #D7DBDF;
    padding: 45px 0 15px 25px;
}

.popular__list{
    display: flex;
    font-weight: 700;
    gap: 10px;
    margin-top: 10px;
}

.popular__list-item button{
    font-size: 14px;
    padding: 10px 13px;
}

.popular__list-item button:hover{
    background: linear-gradient(0deg, rgba(231, 231, 231, 1) 0%, rgba(205, 205, 205, 1) 100%);
}




.main{
    background: #eaeef1;
    padding: 20px 25px;
    box-shadow: 0 1px 2.4rem 0 #c3c9d0;
}


.content__upside{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

.upside__input{
    border: 1px solid #B8BFC7;
    width: 440px;
    height: 45px;
    padding: 18px 12px;
    margin-top: 5px;
    font-size: 16px;
}

.upside__button{
    display: block;
    margin: 0 auto;
    background: none;
    margin-top: 25px;
}

.hint-list{
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.hint-list__button{
    background: none;
    text-decoration: underline;
}


.content__downside{
    margin-top: 30px;
    display: flex;
}

.downside__input{
    width: 230px;
    height: 45px;
    margin-top: 5px;
    border: 1px solid #B8BFC7;
    padding: 18px 12px;
    font-size: 16px;
}

.downside__time{
    display: flex;
    align-items: center;
    margin-left: 70px;
}

.time__text{
    color: #333;
    font-size: 15px;
    font-weight: 500;
}

.time__select{
    margin-left: 10px;
    padding: 7px 8px;
    background-color: #DFE3E5;
}





.submit{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.submit__button{
    display: block;
    width: 440px;
    height: 50px;
    font-size: 24px;
    font-weight: 700;
    background: linear-gradient(180deg, #add7ef 0, #78b5da 100%);
    color: #1d4965;
    border: 2px solid #a5d1ef;
    border-radius: 50px;
    padding: 5px;
}

.submit__alert{
    margin-top: 20px;
    color: tomato;
    font-size: 24px;
    font-weight: 600;
    display: none;
}





.table-container{
    margin-top: 30px;
}

.table{
    width: 1000px;
    border-collapse: collapse;
}

.table th{
    background-color: #e6e9ed;
    border: 1px solid #d7dce1;
    padding: 5px 10px;
    color: #777a7e;
}

.span-block{
    display: block;
}

.table td{
    border: 1px solid #d7dce1;
    padding: 10px;
    font-weight: 700;
    text-align: center;
    background: #f2f4f7;
}

.table__number{
    font-size: 22px;
}

.table__location span{
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
}

.table__date div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 500;
    border-bottom: 1px solid #c5c7cc;
}

.table__time span{
    display: block;
    margin-bottom: 5px;
    font-size: 21px;
}

.table__duration{
    font-size: 21px;
}


.free__type{
    font-weight: 500;
    font-size: 23px;
    color: #9a9a9a;
    font-style: italic;
    margin-right: 10px;
}

.free__seats{
    font-size: 21px;
}

.free__button{
    background: linear-gradient(0deg, #79b6db, #b3dbf2);
    padding: 5px;
    color: #1d4965;
    font-weight: 500;
    font-size: 15px;
    margin-left: 10px;
}



.table.kyiv-lviv{
    display: none;
}